html {
    margin:0;
    position:fixed;
}
body {
    margin:0;
    position:fixed;
}

.ui {
    width:100vw;
    height:100vh;
    position:fixed;
    position:absolute;

}

canvas {
    position:absolute;
    position:fixed;
}

.input_video {
    visibility: hidden;
    display: none;
}


input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    /* Track のスタイル */
    background: #ddafef;
    height: 8px;
    border-radius: 8px;
  }
   